# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
stats.html

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS and IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
