services:
  backend:
    build: .
    ports:
      - "5005:5000"
    env_file:
      - ./.env
    depends_on:
      - mongodb
    networks:
      - wine-network

  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"

    networks:
      - wine-network

networks:
  wine-network:
    driver: bridge

volumes:
  mongo-data:
