:root {
  background-color: var(--bg-main);
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}

@media (min-width: 1440px) {
  body.no-scroll {
    padding-right: 5px;
  }
}
