:root {
  /* Colors - Wine */
  --primary-wine: #841013;
  --secondary-wine: #D52025;
  --wine-gradient: linear-gradient(90deg, var(--primary-wine) 0%, var(--secondary-wine) 100%);


  /* Colors - Gray */
  --primary-gray: #3F3F3F;
  --secondary-gray: #6B6B6B;
  --tertiary-gray: #E4E2E2;
  --shadow-gray: #B7B7B7;
  --font-grey: #454443;
  --footer-cream: #FFEACB;


  --input-gray-text: #A4A4A4;
  --icon-gray: #A5A5A5;

  /* Colors - Accent/Orange */
  --star-main: #E3900A;
  --primary-orange: #E28E33;
  --secondary-orange: #D67C22;


  /* Basic Colors */
  --white: #FFFFFF;
  --black: #000000;
  --error: #FF0000;
  --overlay: rgba(0, 0, 0, 0.5);
  --bg-main: #FAF9F6;


   /* Icon Colors */
   --brown-icon: #895129; /* location, user icons */
   --black-icon: #323232; /* drop-down icon */


  /* Typography */
  --font-main: 'Montserrat', sans-serif;
  --font-accent: 'Montserrat Alternates', sans-serif;


  /* Layout */
  --container-width: 1200px;
  --header-height: 80px;
  --footer-height: 200px;


  /* Spacing */
  --space-xs: 12px;
  --space-sm: 19px;
  --space-md: 23px;
  --space-lg: 30px;
  --space-xl: 49px;


  /* Effects */
  --transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --modal-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
  --border-radius-in: 32px;
}
